<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^www\.eesoc\.com
    RewriteRule ^(.*)$ https://eesoc.com/$1 [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>