@import url(//fonts.googleapis.com/css?family=Open+Sans);

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.highlight {
    background-color: #FFFF88;
}

.category-list h3 {
  margin-top: 10px;
}

#credits hr {
  margin: 60px 0 40px;
}

.delivery-output {
  height: 250px;
  overflow-y: scroll;
}

/*.users-table > tbody > tr > td {
  line-height: 2 !important;
}

.users-table form {
  display: inline;
}*/