.navbar-inverse {
  margin: 0;
  height: 100px;
  background-color: #DDF2FC;
  border: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
}

@media (min-width:768px) {
  .navbar-brand {
    margin-top: -90px;
  }
}

.sponsors div {
  height: 200px;
}

.book-search-results a.thumbnail {
  text-decoration: none;
}