.locker-cluster {

}

.horizontal-scroll {
  overflow-x: auto;
}

/*.locker-sidebar .nav .nav > li > a {
  padding-left: 30px;
}*/

.lockers {
  margin: 0;
}

.locker {
  border-width: 2px !important;
}

.locker div {
  width: 60px;
}

.locker-s div {
  padding: 0;
}

.locker-m div {
  padding: 20px 0;
}

.locker-l div {
  padding: 40px 0;
}